body {
  background-color: #F6F6F6;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 50px;
}

.header {
  font-family: 'Playfair Display', serif;
}

.content {
  display:flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  text-align: center;
 color:wheat;
  align-items: center;
  background: linear-gradient(to bottom right,#101416,#252d32);
    border: 0.5px solid gray;
    border-radius: 0.25em;
    -webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.35);
    width: 40%;
    margin-left: 20em;
    margin-bottom: 10em;
    margin-top:5em;
    padding: 4em;
    align-self: center;
    outline: none
}

.form {
  padding: 0 0 50px 0;
  display:flex;
  flex-direction: column;
}

input[type=text],
input[type=password] ,textarea{
  min-width: 30%;
  padding: 5px 20px;
  margin: 8px 0;
}

.submit-button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 5px 32px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: .8em;
  min-width: 20%;
}

.button-div {
  margin-top: 20px;
}

.button-div>div {
  margin: 10px;
}

.submit-logout-button:hover {
  background-color: #555555;
  color: white;
}

.change-delete-button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 5px 32px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: .8em;
  font-weight: 10px;
  min-width: 40%;
}

.change-delete-button:hover {
  background-color: #555555;
  color: white;
}

.form>div {
  margin: 10px 0 0 0;
  padding:20px;
}

.post {
  display: flex;
  justify-content: center;
}

.post>div {
  margin: 10px 0 20px 0;
  background-color: rgba(85, 85, 85, 0.2);
  padding: 150px;
  flex-basis: 50%;
}

@media only screen and (min-device-width: 310px) and (max-device-width: 767px) and (orientation: portrait) {
  .post>div {
      flex-grow: 1;
  }
  input[type=text],
  textarea {
      width: 80%;
  }
  .button,
  .button2 {
      min-width: 50%;
  }
}